# -*- coding: utf-8 -*-

"""
 @author : Matthieu Petiteau
 @edited on : 13/07/18

 Config file. Load DB credentials in YAML file from root directory.
"""

import yaml
import os


# --~~~~ Sys paths ~~~~--
ROOT_PATH = os.path.dirname(os.path.abspath(__file__))

# --~~~~ Personal data ~~~~--

secret = yaml.load(stream=open(file="{p}/credentials.yml".format(p=ROOT_PATH)))

SESSION_KEY = secret['session_key']

## -- MySQL credentials --
#DBHOST = secret['mysql_db']['hostname']
#DBUSER = secret['mysql_db']['username']
#DBPASS = secret['mysql_db']['password']
#DBNAME = secret['mysql_db']['dbname']

# MySql
DBHOST = '<%=@mysql_host %>'
DBUSER = '<%=@mysql_user %>'
#DBPASS = 'HoHDoL8fArhGf6jwXJ5'
DBPASS = '<%=@mysql_pass %>'
DBNAME = '<%=@mysql_db %>'
DBPORT = 3306
